@font-face {
  font-family: 'iconfont';  /* project id 1418023 */
  src: url('//at.alicdn.com/t/font_1418023_ofhjcf3nh6.eot');
  src: url('//at.alicdn.com/t/font_1418023_ofhjcf3nh6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1418023_ofhjcf3nh6.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1418023_ofhjcf3nh6.woff') format('woff'),
  url('//at.alicdn.com/t/font_1418023_ofhjcf3nh6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1418023_ofhjcf3nh6.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 80rpx;
  font-size: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before{
  content:"\e630"
}

.icon-right:before{
  content: "\e61e"
}

.icon-left:before{
  content: "\e61a"
}